@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap');

/* Header e texto principal */
.header-presentation-logo{
    background-color: var(--background-dark);
    color: #fff;
    text-align: center;
    padding: 25px 0;
}
.logo-3002{
    max-width: 85%;
    width: 300px;
}
@media (max-width:550px) {
    .header-presentation-logo h1,.header-presentation-logo h2{
        font-size: large;
    }
}
/* Navegação */
.navigation{
    margin: 30px ;
}
.nav-list{
    list-style: none;
    width: 200px;
    max-width: 95%;
    display: grid;
    grid-template-rows: 50px 50px;
    grid-template-columns: 50% 50%;
    align-items: center;
    justify-items: center;
    margin: 0 auto;
    row-gap: 10px;
}
.nav-button{
    grid-column-start: 1;
    grid-column-end: 3;
}
#donate-btn-scroll-page{
    border: none;
    text-transform: uppercase;
    font-weight: bolder;
    background-color: var(--color-logo);
    color: #fff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.616);
    font-size: larger;
    position: relative;
}   
#donate-btn-scroll-page::before{
    content: '>';
    color: var(--color-logo);
    text-shadow: 0 0 3px black;
    font-size: 3rem;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: -25%;
    animation: AnimationArrow1 1.5s linear infinite;
}
#donate-btn-scroll-page::after{
    content: '<';
    color: var(--color-logo);
    text-shadow: 0 0 3px black;
    font-size: 3rem;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: 110%;
    animation: AnimationArrow2 1.5s linear infinite;
}
@keyframes AnimationArrow1{
    0%{
        transform: translate(0%,-50%);
    }
    50%{
        transform: translate(20%,-50%);
    }
    100%{
        transform: translate(0%,-50%);
    }
}
@keyframes AnimationArrow2{
    0%{
        transform: translate(0%,-50%);
    }
    50%{
        transform: translate(-20%,-50%);
    }
    100%{
        transform: translate(0%,-50%);
    }
}
@media (max-width:350px) {
    #donate-btn-scroll-page::after,
    #donate-btn-scroll-page::before{
        display: none;
    }
}
/* seção de apresentção*/
.hello{
    text-align: center;
    font-family: 'Sedgwick Ave Display',Roboto,arial;
    font-weight: bolder;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
}
.hello>p{
    font-size: xx-large;
    animation: ToWave 1s infinite;
}
@keyframes ToWave {
    0%{
        transform: rotate(45deg);
    }
    50%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(45deg);
    }
}
.presentation-text1,.presentation-text2{
    margin: 30px auto;
    color: #fff;
    min-height: 350px;
    padding: 0 10px;
    display: grid;
    place-content: center;
    width: 619px;
    max-width: 96vw;
    position: relative;
}
.presentation-text1 img,.presentation-text2 img{
    border:double 5px var(--color-logo);
}
.presentation-text1 p,.presentation-text2 p{
    font-size: large;
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translatey(-50%);
    max-width: 95%;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.918);
    margin: 0;
}
.presentation-text2{
    position: relative;
}
.presentation-text2 p{
    z-index: 2;
}
/* Carrossel de imagens com fotos dos alunos */
.meet-our-class{

    text-align: center;
}
.meet-our-class h2{
    text-align: center;
    font-family: 'Sedgwick Ave Display',Roboto,arial;
    font-weight: bolder;
    margin-top: 100px;
    flex-direction: row-reverse;
}
.meet-our-class img{
    max-width: 95%;
    width: 600px;
    border:double 3px var(--color-logo);
}
/* Seção de pagamento */
.pay{
    text-align: left;
    margin: 70px auto;
    width: 600px;
    max-width: 97%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.pay h1{
    align-self: center;
    font-family: 'Sedgwick Ave Display',system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.pay>img{
    align-self: center;
    margin: 25px 0;
    max-width: 90%;
}
.pay p{
    color: #525252;
}
.copy-pix-key{
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    border: solid 1px black;
    height: 50px;
}
.copy-pix-key p{
    padding: 0 20px;
}
.copy-pix-key button{
    padding: 0 20px;
    height: 100%;
    border-radius: 0 10px 10px 0;
    color: #fff;
    background-color: var(--color-logo);
    border: none;
    cursor: pointer;
}
/* Rodapé da pagina */
footer{
    background-color: black;
    display: grid;
    place-content: center;
    grid-template-rows: 100px 60px;
    grid-template-columns: 40% 40%;
    justify-items: start;
    align-items: center;
    padding: 20px 0;
}
.logo-ft{
    height: 100px;
    grid-column: 1;
    grid-row: 1;
}
.credits{
    grid-row: 2;
    grid-column: 1;
    color:#fff;
}
.social-midia-links-footer{
    grid-column: 2;
    grid-row: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 150px;
    justify-self: end;
}
.social-midia-links-footer a{
    background-color: #fff;
    border-radius: 10px;
}
.social-midia-links-footer a>img{
    width: 50px;
}